
<div class="container p-3" >
    <h1 class="text-center" #container >Reactive Form</h1>
    <form [formGroup]=" formInput" (ngSubmit)="display()">
      <div class="form-group mb-3">
        <label class="form-label">Name:</label>
        <input 
         type="text "
         placeholder="Full name" 
         class="form-control " 
          
         name="fullName"
         formControlName='fullName'
         >
         <div *ngIf="form.fullName.error?.required">

           <div class="alert alert-danger" *ngIf=" form.fullName.touched &&  form.fullName.invalid">
              Name field not be empty
             </div>
         </div>
         <div *ngIf="form.fullName.error?.maxlength">
          <div class="alert alert-danger" *ngIf=" form.fullName.touched &&  form.fullName.invalid">
            Name should be 5 character long
           </div>
         </div>
         
           
         
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Email:</label>
        <input type="email" placeholder="Email" class="form-control" name="Email"  formControlName="email">
  
      </div>
      <div formGroupName="address">
        <div class="form-group mb-3">
          <label class="form-label">Contact:</label>
          <textarea id="" cols="30" rows="10" placeholder="Contact" class="form-control" name="contact" formControlName="contact"></textarea>
        </div>
        <div class="alert alert-danger" *ngIf="form.address.get('contact').touched && form.address.get('contact').invalid">
            Contact field not be empty
        </div>
      </div>

      <div >
        <select 
         formControlName="country"
         name="" 
         id=""
         class="form-control mb-3">
         <option [ngValue]="null" disabled>Select Country</option>
         <option *ngFor="let country of countries" [ngValue]="country.id">
            {{country.name}}
         </option>
        </select>

       
      </div>

      Skill:
      <div formArrayName="skills">
        <div *ngFor="let skill of skill.controls; let i=index">
          <div [formGroupName]="i">
            {{i}}
            skill name :
            <input type="text" formControlName="skill" name="skill" >
            exp:
            <input type="text" formControlName="exp" name="exp">
     
            <!-- <button (click)="removeSkill(i)">Remove</button> -->
          </div>
        </div>
      </div>    
      <button class="btn btn-sm btn-primary my-3">Submit</button>
</form>
<input type="text" class="form-control mb-3" placeholder="Add Country" [(ngModel)]="countryName" >
<button class="btn btn-sm btn-primary mb-3" (click)="AddCountry()">Add</button>
<p>
  <button type="button"
   class="btn btn-sm btn-warning"
   (click)="addSkill()">Add</button>
</p>
<p>
  <input [(ngModel)]="set_country">
  <button (click)="setCountry()">Set Country</button>
</p>
 