<div class="container">
  <form 
  [formGroup]="form" 
  (ngSubmit)="onSubmit()">

    <h1 class="text-center">Reactive Form</h1>
    <div class="form-group mb-3">
      <label class="form-label">Old password</label>
      <input 
      type="password" 
      class="form-control" 
      placeholder="Old password" 
      formControlName="oldPassword"/>
      
    </div>
    <div
        *ngIf="oldPassword?.touched && oldPassword?.invalid" 
        class="alert alert-danger">
        <div *ngIf="oldPassword.errors['required']">
            old password should not be empty
        </div>
        <div *ngIf="oldPassword.errors['invalidOldPassword']">
            old password invalid
        </div>
    </div>
    
    <div class="form-group mb-3">
      <label class="form-label">New password</label>
      <input 
      type="password" 
      class="form-control" 
      placeholder="New password" 
      formControlName="newPassword"/>
    </div>

    <div
        *ngIf="newPassword?.touched && newPassword?.invalid" 
        class="alert alert-danger">
        <div *ngIf="newPassword.errors['required']">
            New password should not be empty
        </div>
    </div>

    <div class="form-group">
      <label class="form-label">Confirm password</label>
      <input 
      type="password" 
      class="form-control" 
      placeholder="Confirm password" 
      formControlName="confirmPassword"/>
      <div *ngIf="confirmPassword.valid && form.invalid && form.errors['passwordShouldMatch']"
      class="alert alert-danger">
        Confirm password not matched
      </div>
    </div>

    <div
        *ngIf="confirmPassword?.touched && confirmPassword?.invalid" 
        class="alert alert-danger">
        <div *ngIf="confirmPassword.errors['required']">
            Confirm password should not be empty
        </div>

        
        
    </div>
   

    <button 
    class="btn btn-primary mt-3" 
    >Submit</button>
  </form>
</div>
