.card { 
    min-width: 280px;  
    margin: 5px;  float:left  
} 
.header { color: blue}
.view{
    color: red;
}
.footer{
    color: skyblue;
}
.content{
    color: orange;
}
.hh{
    color: red;
}

.kk{
    color: blue;
}

.ll{
    color: yellow;
}